*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6,250px);
    grid-template-rows: repeat(6,250px);
    justify-content: center;
    gap: 5px;

}
.container .box1{
    background-color: rgb(54, 54, 83);
    grid-column: 1/3;
}
.container .box2{
    background-color: rgb(178, 194, 140);
    grid-row: 2/4;
}
.container .box3{
    background-color: rgb(127, 133, 218);

grid-row: 2/3;
}
.container .box4{
    background-color: aqua;
    grid-column: 2/4;

}
.container .box5{
    background-color: blueviolet;
    grid-row: 1/3;
}
.container .item{
    color: antiquewhite;
}